@import 'tailwindcss';

@theme inline {
  --font-*: initial;
  --font-roboto: 'Roboto', sans-serif;

  --color-*: initial;
  --color-black: #040404;
  --color-gray: #303030;
  --color-white: #efede8;
  --color-orange: #e6533c;
  --color-coral: #ef8964;
  --color-beige: #efa082;
  --color-green: #3cbf61;
  --color-red: #d80027;

  --text-*: initial;
  --text-sm: 12px;
  --text-sm--line-height: 1.5;

  --text-base: 14px;
  --text-md--line-height: 1.28;

  --text-md: 16px;
  --text-base--line-height: 1.5;

  --text-lg: 18px;
  --text-lg--line-height: 1.11;

  --text-xl: 20px;
  --text-xl--line-height: 1.2;

  --text-2xl: 24px;
  --text-2xl--line-height: 1.33;

  --text-3xl: 32px;
  --text-3xl--line-height: 1.37;
  --text-3xl--font-weight: 700;

  --text-4xl: 38px;
  --text-4xl--line-height: 1.05;
  --text-4xl--font-weight: 500;
  --text-4xl-letter-spacing: 0.38px;

  --text-5xl: 48px;
  --text-5xl--line-height: 1.04;
  --text-5xl--font-weight: 700;
  --text-5xl-letter-spacing: -1px;

  --text-6xl: 66px;
  --text-6xl--line-height: 1;
  --text-6xl--font-weight: 500;
  --text-6xl-letter-spacing: 0.66px;

  --text-7xl: 70px;
  --text-7xl--line-height: 1.11;
  --text-7xl--font-weight: 500;
  --text-7xl-letter-spacing: 0.7px;

  --text-8xl: 160px;
  --text-8xl--line-height: 0.93;
  --text-8xl--font-weight: 500;
  --text-8xl-letter-spacing: 1.6px;

  --breakpoint-*: initial;
  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;

  --shadow-*: initial;
  --shadow-base: 0px 1px 10px 0px rgba(230, 83, 60, 0.8);
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@custom-variant hocus {
  @media (hover: hover) {
    &:hover {
      @slot;
    }
  }
  &:focus-visible {
    @slot;
  }
  &:active {
    @slot;
  }
}

@utility container {
  padding-inline: 20px;
  margin-inline: auto;
  max-width: 375px;

  @variant tablet {
    padding-inline: 32px;
    max-width: 768px;
  }

  @variant desktop {
    padding-inline: 96px;
    max-width: 1440px;
  }
}

@utility text-fill-* {
  -webkit-text-fill-color: --value(--color-*);
}

@utility hide-password-toggle {
  &::-ms-reveal,
  &::-ms-clear {
    @apply pointer-events-none invisible hidden;
  }
}
