@tailwind base;
@tailwind components;
@tailwind utilities;

.welcome-layout {
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-image: image-set('/welcome.avif' 1x, '/welcome@2x.avif' 2x);

  @media (width >= 768px) {
    background-image: image-set(
      '/welcome-tablet.avif' 1x,
      '/welcome-tablet@2x.avif' 2x
    );
  }

  @media (width >= 1440px) {
    background-image: image-set(
      '/welcome-desktop.avif' 1x,
      '/welcome-desktop@2x.avif' 2x
    );
  }
}
